.header {
  padding: 40px;
  width: 100%;
  background: url(../../img/pattern2.jpg) repeat;
  position: relative;
}

.logo {
  display: block;
  width: 300px;
  height: 60px;
  margin: 0 auto;
  font-family: 'Gotham-Light', Arial, sans-serif;
}

.logo img {
  width: 100%;
}

.headerButtons {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
}

select {
  background-color: transparent;
  height: 25px;
  width: 100%;
  border-radius: 30px;
  border-width: 2px;
  border-color: silver;
  /* font-family: 'Gotham-Light', Arial, sans-serif; */
  font-family: 'Tahoma';
  color: silver;
  font-size: 15px;
  line-height: 1;
  padding: 0 5px;
  outline: none;
}

.logout {
  background: none;
  border: none;
  cursor: pointer;
  /* height: 40px; */
  width: 40px;
}

.logout:hover img {
  transform: scale(1.1);
}
.logout:active img {
  transform: scale(0.9);
}

.innerContent {
  padding: 60px 0;
  background: #eeeeee;
}

.wrapper {
  max-width: 1030px;
  margin: auto;
  padding: 0 24px;
}

/* account */

.mainTitle {
  /* font-family: 'Gotham-Light', Arial, sans-serif; */
  font-family: 'Tahoma';
  font-size: 45px;
  font-weight: 600;
  color: #185289;
  letter-spacing: -0.8px;
  text-align: center;
  padding-bottom: 10px;
}

.accountArea {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto;
}

.accountCard {
  background-color: #fff;
  padding: 10px 0;
}

.twoRows {
  grid-row-start: 1;
  grid-row-end: 3;
}

.accountCard table {
  width: 100%;
}

.accountCard td {
  padding-top: 5px;
}
.accountCard th {
  font-weight: bold;
}

.accountCard th:first-child {
  text-align: start;
  padding-left: 15px;
}
.accountCard th:last-child {
  text-align: end;
  padding-right: 15px;
}

.accountCard td:first-child {
  padding-left: 15px;
  text-align: start;
}

.accountCard td:last-child {
  text-align: end;
  padding-right: 15px;
}

.accountCardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

h2 {
  font-size: 16px;
  font-weight: normal;
}

.accountCardHeaderTitleWrapper {
  display: flex;
  align-items: center;
}

.accountHeaderPic {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: grey;
  border-radius: 25%;
  color: #fff;
  line-height: 40px;
  text-align: center;
  font-size: 24px;
  margin-right: 15px;
}

.personalDataWrapper {
  padding: 10px;
}

.personalDataWrapper p {
  color: #686a6c;
  font-size: 15px;
  padding-bottom: 15px;
}

.profileEditLinks {
  font-size: 14px;
  margin-top: 15px;
}

.profileEditLinks li:first-child {
  padding-bottom: 10px;
}

.dealTable {
  border-collapse: collapse;
}

.dealTable th {
  border-bottom: 1px solid black;
  padding-top: 10px;
}

.dealTable th:nth-child(2n) {
  text-align: center;
}
.dealTable td:nth-child(2n) {
  text-align: center;
}

.dealTableBody tr td:first-child {
  max-width: 250px;
  word-break: break-all;
}

.footer {
  background: #093661;
  padding: 59px 0 45px;
  color: #7ca5cb;
}

.footerTitle {
  /* font-family: Gotham-Light; */
  font-family: 'Tahoma';
  font-size: 34px;
  letter-spacing: -1.5px;
}

.footerContacts {
  /* font-family: Gotham-Light; */
  font-family: 'Tahoma';
  font-size: 15px;
  line-height: 1.6em;
  margin: 22px 0;
}

.mFooter {
  color: #7ca5cb;
  border-bottom: 1px solid #7ca5cb;
}

.noborder {
  border: none;
}

.mFooter:hover {
  border: none;
}

.footerLogoPri {
  margin-top: 103px;
}

.footerLogoPri img {
  display: block;
  width: 176px;
  height: auto;
}

.footerCopy {
  clear: both;
  margin-top: 53px;
  font-size: 12px;
  color: #a7a6a5;
  position: relative;
}

.modalHeader {
  color: rgb(3, 47, 91);
  /* font-family: Gotham-Light; */
  font-family: 'Tahoma';
  font-weight: 600;
  font-size: 20px;
}

.changeLink {
  text-decoration: underline;
  cursor: pointer;
  color: rgb(85, 26, 139);
}

.modalClose {
  display: block;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  text-align: center;
  color: #7ca5cb;
  line-height: 20px;
  font-size: 20px;
  border-radius: 50%;
}

.modalClose:focus,
.modalClose:hover {
  border-color: rgb(3, 47, 91);
  color: rgb(3, 47, 91);
}

.modalForm {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin-top: 10px;
}

.modalForm p {
  margin-bottom: 5px;
  color: #7ca5cb;
  /* font-family: Gotham-Light; */
  font-family: 'Tahoma';
  font-size: 16px;
}
.modalForm input {
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 30px;
  font-size: 16px;
  width: 100%;
  outline: none;
  border: 1px solid #7ca5cb;
  color: rgb(3, 47, 91);
}

.modalForm input:hover,
.modalForm input:focus {
  border-color: rgb(3, 47, 91);
}

.modalForm button {
  margin-top: 20px;
  margin-bottom: 10px;
  min-width: 80px;
  padding: 15px 8px;
  font-size: 15px;
  color: #7ca5cb;
  background: transparent;
  /* font-family: Gotham-Light; */
  font-family: 'Tahoma';
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #7ca5cb;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.modalForm button:hover {
  background: #6ab0f1;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .header {
    padding: 30px 0;
  }

  .innerContent {
    padding: 30px 0;
  }

  .wrapper {
    padding: 0 8px;
  }

  .mainTitle {
    font-size: 30px;
  }

  .accountArea {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .userDataCard {
    grid-row-start: -2;
    grid-row-end: -1;
  }

  .accountCardHeader {
    flex-direction: column;
    align-items: flex-start;
  }

  .accountCardHeaderTitleWrapper {
    margin-bottom: 10px;
  }

  .footer {
    padding: 20px 0;
  }

  .footerLogoPri {
    margin-top: 30px;
  }

  th {
    font-size: 15px;
  }

  td {
    font-size: 13px;
  }

  .modalForm {
    width: 100%;
  }

  .modalForm input {
    font-size: 12px;
  }
}
